
#main{
    background-color: rgb(230, 245, 250);
    padding-top: 100px;
    border-radius: 0.5em;
    height: 800px;

}

#nav-bar{
    margin:20px;
}

.nav-item{
    margin-right: 15px;
}

#content{
    #money{
        font-size: 80pt;
    }
    #actionBtn{
        margin-top: 50px;
        float: right;
    }
    #stars{
        font-size: 80pt;
    }
}

.div_show{
    display: block;
}

.div_hide{
    display: none;
}
